<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceSonda" />
                <binding name="BasicHttpBinding_IServiceExtra" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56197/ServiceSonda.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceSonda" contract="SondaService.IServiceSonda"
                name="BasicHttpBinding_IServiceSonda" />
            <endpoint address="http://localhost:57255/ServiceExtra.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceExtra" contract="ExtraService.IServiceExtra"
                name="BasicHttpBinding_IServiceExtra" />
        </client>
    </system.serviceModel>
</configuration>